extends layout

block content
  div.header 
      p.headerText.header--BigText Notes
      button.headerText.header--arrow.displayElement ❮
  button.circle
    p.text.btn--add +
  div.centerInput 
    textarea(name="Note input", cols="30", rows="10", placeholder="Write your text here...").displayElement.noteInput