extends layout

block content
    div.header--login.header 
        p.headerText.header--BigText Journaling
        p.header--SubText APP

    div
        p.text.text--Biglogin LET'S GET STARTED
        p.text.text--SubLogin ...and join the hype!
    p.text.text--Or or
      
    button(class="btn--login", onclick="toNotes()").btn
        span.btnTextCenter LOGIN

    button(class="btn--register").btn
        span.btnTextCenter REGISTER